header{
    display:flex;
    justify-content:flex-end;
}

.principal{

    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;
}

.timer{
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center;

    height:50px;
    width:100px;
    margin:10px;
    padding:10px;

    background-color:grey;
    border-radius:10%;
}

form section{
     display:flex;
    flex-direction:row;
    justify-content:center; 
    align-items:center;
} 

.progress-bar {
  width: 250px;            
  height: 12px;           
  background-color: #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 15px;
}

.progress-fill{
    background-color:aqua;
    border:solid 1px black;
    height:100%;
    transition: width 0.3s ease;
}